<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource '3SocialWIN' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>9f9ec7fa-15de-4366-9c76-046aa337140e</InstrumentationKey>
</ApplicationInsights>